,Country,Alcoholic Beverages,Animal Products,Animal fats,"Aquatic Products, Other",Cereals - Excluding Beer,Eggs,"Fish, Seafood",Fruits - Excluding Wine,Meat,...,Vegetables,Miscellaneous,Obesity,Undernourished,Confirmed,Deaths,Recovered,Active,Population,Unit (all except Population)
0,Afghanistan,0.0000,9.7523,0.0277,0.0000,35.9771,0.4067,0.0647,0.5824,3.1337,...,1.1370,0.0462,4.5,29.8,0.142134,0.006186,0.123374,0.012574,38928000.0,%
1,Albania,0.1840,27.7469,0.0711,0.0000,14.2331,1.8069,0.6274,1.2757,7.6582,...,3.2456,0.0544,22.3,6.2,2.967301,0.050951,1.792636,1.123714,2838000.0,%
2,Algeria,0.0323,13.8360,0.0054,0.0000,26.5633,1.2916,0.6350,1.1624,3.5088,...,3.1267,0.1399,26.6,3.9,0.244897,0.006558,0.167572,0.070767,44357000.0,%
3,Angola,0.6285,15.2311,0.0277,0.0000,20.3882,0.1756,5.4436,1.2754,7.6248,...,0.8133,0.0924,6.8,25,0.061687,0.001461,0.056808,0.003419,32522000.0,%
4,Antigua and Barbuda,0.1535,33.1901,0.1289,0.0000,10.5108,0.4850,8.2146,1.2586,16.0670,...,1.6024,0.2947,19.1,NaN,0.293878,0.007143,0.190816,0.095918,98000.0,%
5,Argentina,0.1704,31.9799,0.0097,0.0000,13.6702,2.0593,1.0223,0.5209,21.6250,...,1.0516,0.0000,28.5,4.6,4.356147,0.108227,3.905192,0.342729,45377000.0,%
6,Armenia,0.0411,22.8846,0.1438,0.0000,18.2738,1.7560,0.8831,1.1142,8.5233,...,4.6621,0.1078,20.9,4.3,5.681225,0.105345,5.398410,0.177470,2956000.0,%
7,Australia,0.2914,32.9787,0.0740,0.0046,10.9343,1.0916,2.8585,0.5180,18.8298,...,1.4524,0.2174,30.4,<2.5,0.112025,0.003530,0.101289,0.007207,25754000.0,%
8,Austria,0.6150,30.0009,0.3376,0.0000,13.1508,2.1456,1.8358,0.6242,13.6549,...,1.5259,0.0000,21.9,<2.5,4.739982,0.089679,4.496870,0.153433,8914000.0,%
9,Azerbaijan,0.3465,16.3039,0.0596,0.0000,28.2218,1.4078,0.4873,0.5631,6.8551,...,1.9114,0.0433,19.9,<2.5,2.285536,0.031223,2.225574,0.028740,10108000.0,%